<navbar></navbar>

<md-content layout="row" layout-align="center start" layout-fill>
    <md-whiteframe layout="column" flex flex-md="66" flex-lg="66" flex-gt-lg="50" class="md-whiteframe-z2" layout-fill layout-padding layout-margin>
        <form class="md-primary" ng-submit="addTask(newTask);newTask='';" ng-show="$root.currentUser">
            <md-input-container layout-fill>
                <label> Task name </label>
                <input ng-model="newTask" type="text" />
            </md-input-container>
        </form>
        <md-switch ng-model="hideCompleted" aria-label="Hide Completed" ng-change="hideTasks(hideCompleted)">
            Hide Completed Tasks
        </md-switch>
        <md-divider class="inset"></md-divider>
        <md-list>
            <li ng-repeat="task in tasks" layout="row" layout-align="space-between center" md-no-ink>
                <md-checkbox ng-model="task.checked" aria-label="task completed" ng-change="setChecked(task)"></md-checkbox>
                <p><strong>{{task.text}}</strong></p>
                <md-switch md-no-ink ng-if="task.owner === $root.currentUser._id" ng-model="task.private"
                           ng-change="setPrivate(task)" aria-label="task private">
                    <small> {{ task.private ? 'Private' : 'Public'}}</small>
                </md-switch>
                <span flex></span>
                <md-icon ng-click="deleteTask(task)">delete</md-icon>
            </li>

        </md-list>

    </md-whiteframe>

</md-content>

